
@Html.Raw("<br/><br/><br/><br/><hr>")
<div class="sidesection w3-light-grey" style="margin-left:auto;margin-right:auto;max-width:230px">
    <div class="w3-dark-grey">
        <h4>　關於我</h4>
    </div>
    <div class="w3-container">
        <p>這是測試</p>
   </div>
</div>
@Html.Raw("<hr>")
<div class="sidesection w3-light-grey" style="margin-left:auto;margin-right:auto;max-width:230px">
    <div class="w3-dark-grey">
        <h4>　公告</h4>
    </div>
    <div class="w3-container">
        <p>
            系統公告
        </p>
    </div>
</div>

@Html.Raw("<br/><br/><br/><br/><br/><br/><hr>")